.page-title {
  font-family: $serif-font;
  text-align: center;
  padding: 0.5em 0em;
}

.col {
  // border: 1px solid red;
  padding: 0 1em;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  @media (min-width: $breakpoint-sm) {
    max-width: 540px;
  }

  @media (min-width: $breakpoint-md) {
    max-width: 720px;
  }

  @media (min-width: $breakpoint-lg) {
    max-width: 960px;
  }

  @media (min-width: $breakpont-xl) {
    max-width: 1140px;
  }

  @media (min-width: $breakpoint-xxl) {
    max-width: 1320px;
  }
}

.section__title {
  hr {
    height: 2px;
    background: black;
    // color: blue;
  }

  &-text {
    margin: 0 10px;
  }
}

.topnews {
  // border: 1px solid blue;

  &__author {
    font-size: 10px;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 0.25em;
  }

  &__link {
    .topnews__title {
      font-family: $serif-font;
      font-size: 20px;
      line-height: 28px;
      font-weight: 700;
      margin: 0.5em 0;

      @media (max-width: $breakpoint-sm) {
        // color: red;
        font-size: 14px;
        font-weight: 400;
      }
    }

    &:hover {
      .topnews__title {
        color: #1955a5;
      }
    }
  }

  &__paragraph {
    font-family: $sans-font;
    font-size: 16px;
    line-height: 20px;
    color: $secondary-text;
  }

  &_img_container {
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    display: block;
    width: 100%;
  }
}
