.col {
  padding: 0em;

  @media (min-width: $breakpoint-sm) {
    padding: 0 1em;
  }
}

.section__title {
  hr {
    height: 2px;
    background: black;
  }

  &-text {
    margin: 0 10px;
  }
}

.topnews {
  border: 1px solid #cfcece;
  border-radius: 0.5em;

  &__author {
    font-size: 10px;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 0.25em;
  }

  .topnews__title {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    margin: 0.5em 0;

    @media (max-width: $breakpoint-sm) {
      // color: red;
      font-size: 14px;
      font-weight: 400;
    }
  }

  // &:hover {
  //   .topnews__title {
  //     color: #1955a5;
  //   }
  // }

  &__paragraph {
    font-size: 16px;
    // line-height: 20px;
    color: $secondary-text;
  }

  &_img_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    width: 100%;
    border-radius: 0.5em;
  }
}
