$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpont-xl: 1200px;
$breakpoint-xxl: 1400px;

$serif-font: "Merriweather", serif;
$sans-font: "Roboto", sans-serif;

//colors
$primary-title: #141414;
$secondary-text: #757575;
